
- @title = 'Welcome!'
#left
  %h2 Here are some of the things you can do
  %ul
    %li
      - if logged_in?
        = link_to 'Logout', :controller => :users, :action => :logout
      - else
        = link_to 'Login', new_user_session_path
    / %li= link_to 'View and accept your pending exchanges', :controller => :exchanges
    / %li= link_to 'Your listings - view, add, edit or delete', :controller => :listings, :action=> :index
    / %li= link_to 'Browse listings', :controller => :listings, :action => :browse
    - if current_user.role.name == "admin"
      %li= link_to 'User Info', users_profile_path